# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

In [1]:
4400/20

220.0

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는?

In [2]:
print(4400/30)
print(4400//30)
print(4400%30)

146.66666666666666
146
20

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

In [4]:
avg = (80+55+75+80)/4
print(avg)

72.5

72.5

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [9]:
korean = int(input("한국어 점수를 입력해주세요!!!"))
english = int(input("영어 점수를 입력해주세요!!!"))
math = int(input("수학 점수를 입력해주세요!!!"))
society = int(input("사회 점수를 입력해주세요!!!"))

avg = (korean+english+math+society)/4

print(avg)

한국어 점수를 입력해주세요!!!80
영어 점수를 입력해주세요!!!75
수학 점수를 입력해주세요!!!88
사회 점수를 입력해주세요!!!55
74.5

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

In [16]:
num = int(input("홀짝을 판단하고자 하는 수를 입력하세요!!!"))
if(num%2==1):
    print(num,"은 홀수 입니다.")
else:
    print(num,"은 짝수입니다.")

홀짝을 판단하고자 하는 수를 입력하세요!!!80
80 은 짝수입니다.

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

In [19]:
a=[1,2,3,4,5]
a.append("Hi")
a.append("Monday")
a.insert(2,"hello")
print(a)

[1, 2, 'hello', 3, 4, 5, 'Hi', 'Monday']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

In [20]:
a = (10/2)==(210/3)
print(a)

False

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

In [23]:
a=(12345%4)==(54321%2)
print(a)

True

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

In [34]:
a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
print(a)
print(a[3][3][1][1])

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

In [52]:
a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]
print("1) ", end='')
print(a[:])
print("2) ", end='')
print(a[0:5])
print("3) ", end='')
print(a[3:])
print("4) ", end='')
print(a[1:6])
print("5) ", end='')
print(a[::2])
print("6) ", end='')
print(a[0:10:3])

1) ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
2) ['a', 'b', 'c', 'd', 'e']
3) ['d', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 1, 2, 3, 4, 5]
4) ['b', 'c', 'd', 'e', 'f']
5) ['a', 'c', 'e', 'g', 'i', 'k', 2, 4]
6) ['a', 'd', 'g', 'j']

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

In [55]:
a = {"A":90, "B":80,"C":70 }
print(a["B"])

80

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

In [40]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
max_key = max(a, key=a.get)
max_value=max(a.values())
min_key=min(a,key=a.get)
min_value=min(a.values())
print("최고점= ", end='')
print(max_key, end=':')
print(max_value)
print("최저점= ", end='')
print(min_key, end=':')
print(min_value)

TypeError: 'dict_values' object is not callable

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

In [12]:
a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32}
max_key = max(a, key=a.get)
max_value=max(a.values())
min_key=min(a,key=a.get)
min_value=min(a.values())
print("최고점= ", end='')
print(max_key, end=':')
print(max_value)
print("최저점= ", end='')
print(min_key, end=':')
print(min_value)

최고점= E:85
최저점= C:10

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

In [14]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

In [16]:
for i in range(1,21):
    print("hello_", end='')
    print(i)

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

In [36]:
a = ["one","two","three","four"]
b=[]
for i in range(0,4):
    b.append(a[i]+str(1+i))
print(b)

['one1', 'two2', 'three3', 'four4']

In [50]:
a = ["one","two","three","four"]
b=[]
for i in a:
    b.append(i+str(a.index(i)+1))
print(b)

['one1', 'two2', 'three3', 'four4']

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

['one1', 'two2', 'three3', 'four4']

In [57]:
a = [10,20,30,40]
b = [50,20,10,13]
for i in range(0,len(a)):
    print((a[i]+b[i])/2)

30.0
20.0
20.0
26.5

In [14]:
`dd

46.0
46.0

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

In [59]:
a = ["Life", "is","too", "short", "you","need","python"]
print(a[4], end =' ')
print(a[2], end ='')

you too

you too

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

In [62]:
a=["Life", "is", "too","short"]
for i in range(0,len(a)):
    print(a[i], end=' ')

Life is too short

In [63]:
a=["Life", "is", "too","short"]
print(" ".join(a))

Life is too short

In [21]:
# 참고) join은 전체에 대한 것!
a = ["Life", "is", "too","short","1","2","3","4","5"]
result = " ".join(a)
print(result)

Life is too short 1 2 3 4 5

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

In [65]:
a = [1,2,3,4,5,6]
print(len(a))

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!(remove사용)

In [66]:
a=[1,2,3,4,5]
a.remove(2)
a.remove(4)
print(a)

[1, 3, 5]

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [67]:
a=10
if a>0:               
    print("a는 양수") 
elif a==0:           
    print("a는 0")
else:
    print("a는 음수")

a는 양수

In [69]:
a = int(input("0,양수,음수 판단할 수를 입력해 주세요!!!!!"))
if a>0:               
    print("a는 양수") 
elif a==0:           
    print("a는 0")
else:
    print("a는 음수")

0,양수,음수 판단할 수를 입력해 주세요!!!!!-2
a는 음수

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

In [72]:
a = int(input("자연수/홀수/짝수 판단할 수를 입력해 주세요!!!!!"))
if a<=0:               
    print("이상해요") 
elif a%2==1:           
    print("a는 홀수")
else:
    print("a는 짝수")

자연수/홀수/짝수 판단할 수를 입력해 주세요!!!!!3
a는 홀수

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

In [76]:
money = 5000
card = False
if(money>=4000 or card ==True):
    print("갈 수 있어@!!!")
else:
    print("갈 수 없어!!@!")

갈 수 있어@!!!

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

In [82]:
a = int(input("자연수/홀수/짝수 판단할 수를 입력해 주세요!!!!!"))
if(a<0):
    print("자연수가 아닌데요?")
elif(a<10):
    print("한자리수")
elif(a<100):
    print("두자리수")
elif(a<1000):
    print("세자리수")
elif(a<10000):
    print("네자리수")
else:
    print("범위 초과")

자연수/홀수/짝수 판단할 수를 입력해 주세요!!!!!1
한자리수

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

In [84]:
a = int(input("처음 입력"))
b = int(input("두번째 입력"))
temp=a
a=b
b=temp
print("변화된 a값",a)
print("변화된 b값",b)

처음 입력10
두번째 입력20
변화된 a값 20
변화된 b값 10

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

In [88]:
a = float(input("입력하세요[kg]!!!"))
print(int(a*1000),"g")

입력하세요[kg]!!!1.2
1200 g

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

In [91]:
a = float(input("입력하세요[g]!!!"))
print(a/1000,"kg")

입력하세요[g]!!!1200
1.2 kg

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

In [99]:
a=[]
a.append(int(input("1번째 수")))
a.append(int(input("2번째 수")))
a.append(int(input("3번째 수")))

max_value=0
for i in range(0,3):
    if(max_value<a[i]):
        max_value=a[i]
    else:
        pass
print(max_value)

1번째 수10
2번째 수30
3번째 수20
30

* Q) 1부터 100까지 합!!!!

In [102]:
sum_a=0
for i in range(1,101):
    sum_a+=i
print(sum_a)

5050

* Q) 1부터 100까지 곱!!

In [1]:
mul=1
for i in range(1,101):
    mul*=i
print(mul)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

In [6]:
a=[90,80,35,24,65,74,93]
for i in range(0,7):
    if(a[i]>=60):
        print(i+1,end=' ')
    else:
        pass
print("번째 학생이 통과하였습니다.")

1 2 5 6 7 번째 학생이 통과하였습니다.

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

In [9]:
a=["A","B","A","O","AB","AB","O","A","B","AB"]
A=0
B=0
O=0
AB=0
for i in range(0,len(a)):
    if(a[i]=="A"):
        A+=1
    elif(a[i]=="B"):
        B+=1
    elif(a[i]=="O"):
        O+=1
    elif(a[i]=="AB"):
        AB+=1
    else:
        print("혈액형이 인간이 아닌데?")
print("A형:", A, "명")
print("B형:", B, "명")
print("O형:", O, "명")
print("AB형:", AB, "명")

A형: 3 명
B형: 2 명
O형: 2 명
AB형: 3 명

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

In [10]:
a=[1,2,3,4,5,6,7,8,9,10,11,12]
for i in range(0,len(a)):
    if(a[i]%2==1):
        print(a[i]*3)
    else:
        pass

3
9
15
21
27
33

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

In [12]:
for i in range(2,20):
    for j in range(1,10):
        print(i,"X",j,"=",i*j)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171

* Q) 100 까지 소수를 모두 찾아보세요!!!!

In [20]:
a=[]
count=0
for i in range(2,101):
    for j in range(1,i+1):
        if(i%j==0):
            count+=1
    if(count==2):
        print(i)
    count=0

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

In [27]:
a=54
b=24
c=[]
d=[]
for i in range(1,25):
    if(24%i==0):
        c.append(i)
for j in c:
    if(54%j==0):
        d.append(j)
print("최대공약수: ",d[len(d)-1])
print("공약수:", d)

최대공약수:  6
공약수: [1, 2, 3, 6]

*Q) @@@@@ 을 출력하세요!!!

In [28]:
print("@"+"@"+"@"+"@"+"@")

@@@@@

In [29]:
print("@"*5)

@@@@@

In [30]:
for i in range(5):
    print("*",end="")

*****

In [31]:
for i in range(5):
    print("@", end="")

@@@@@

In [32]:
num = int(input("반복할 수를 입력하세요!!!!"))

for i in range(num):
    print("@", end="")

반복할 수를 입력하세요!!!!7
@@@@@@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

In [36]:
for i in range(1,5):
    for j in range(1,6):
        print("@",end="")
    print("")

@@@@@
@@@@@
@@@@@
@@@@@

* Q) 위의 그림을 만드세요

In [37]:
for i in range(0,5):
    for j in range(0,i+1):
        print("@", end="")
    print()

@
@@
@@@
@@@@
@@@@@

* Q) 위의 그림을 만드세요!!!

In [56]:
for i in range(0,5):
    for j in range(0,i):
        print(" ",end="")
    for k in range(0,5-i):
        print("@",end="")
    print()

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!

In [59]:
for i in range(0,5):
    for j in range(0,4-i):
        print(" ",end="")
    for k in range(0,1+2*(i)):
        print("@",end="")
    for j in range(0,4-i):
        print(" ",end="")
    print()

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요

In [61]:
for i in range(0,5):
    for j in range(0,i):
        print(" ",end="")
    for k in range(0,9-2*(i)):
        print("@",end="")
    for j in range(0,i):
        print(" ",end="")
    print()

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* 위와 같은 결과를 만드세요

In [64]:
for i in range(0,10):
    for j in range(0,i):
        print(i,end="")
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

* Q) * Q) 1부터 50까지에서 3의 배수에는 three, 5의 배수에는 five, 3과 5의 공배수에는 three-five를 출력하세요   
1  
2  
three  
4  
five  
...
14  
three-five
16
...

In [75]:
a=[]
for i in range(1,51):
    if(i%3==0 and i%5==0):
        print("three-five")
    elif(i%3==0):
        print("three")
    elif(i%5==0):
        print("five")
    else:
        print(i)

1
2
three
4
five
three
7
8
three
five
11
three
13
14
three-five
16
17
three
19
five
three
22
23
three
five
26
three
28
29
three-five
31
32
three
34
five
three
37
38
three
five
41
three
43
44
three-five
46
47
three
49
five

* Q) 입력 : 월/일 의 2개의 정보를 받아서, 어느 계절인지 나타내어라!!
(예 : 3월 12일 --> 봄, 12월 24일 --> 겨울)
(단, 봄:3~5, 여름:6~8, 가을 9~11, 겨울 12~2)

In [77]:
day=int(input("일을 입력"))
month=int(input("월을 입력"))
if(month>=3 and month<=5):
    print("봄")
elif(month>=6 and month<=8):
    print("여름")
elif(month>=9 and month<=11):
    print("가을")
else:
    print("겨울")

일을 입력20
월을 입력4
봄

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

In [78]:
a=int(input("점수 입력"))
if(a>=90 ):
    print("참 잘했")
elif(a>=80 and a<90):
    print("잘했")
elif(a>=60 and a<80):
    print("좀 더 노력")
elif(a>=40 and a<60):
    print("재수강 권장해")    
else:
    print("다시 들어")

점수 입력43
재수강 권장해

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

In [80]:
x=int(input("x좌표 입력"))
y=int(input("y좌표 입력"))

if(x>=50 and x<=100):
    if(y>=40 and y<=80):
        print("안에 있")
    else:
        print("밖에 있")
    
else:
    print("밖에 있")

x좌표 입력70
y좌표 입력70
안에 있

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

In [85]:
a=input("입력해")
sum_a=0
for i in a:
    sum_a+=int(i)
print(sum_a)

입력해12345
15

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

In [1]:
count1=0
count2=0
for i in range(1,99):
    for j in range(1,99):
        for k in range(1,99):
            if((i+j+k)==100):
                if(i==j or j==k or i==k):
                    count1+=1
                else:
                    count2+=1
print((count1/3)+(count2/6))

833.0

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

In [2]:
a=[0,0,0,0,0,0,0,0,0,0]

for i in range(1,101):
    b=str(i)
    for j in b:
        if(j=="0"):
            a[0]+=1
        elif(j=="1"):
            
            
            a[1]+=1
        elif(j=="2"):
            a[2]+=1
        elif(j=="3"):
            a[3]+=1
        elif(j=="4"):
            a[4]+=1
        elif(j=="5"):
            a[5]+=1
        elif(j=="6"):
            a[6]+=1
        elif(j=="7"):
            a[7]+=1
        elif(j=="8"):
            a[8]+=1
        else:
            a[9]+=1
for k in range(0,10):
    print(k,": ",a[k])

0 :  11
1 :  21
2 :  20
3 :  20
4 :  20
5 :  20
6 :  20
7 :  20
8 :  20
9 :  20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

In [22]:
a = [20,55,67,82,45,33,90,87,100,25]

In [4]:
a = [20,55,67,82,45,33,90,87,100,25]
sum_a=0
for i in range(0,len(a)):
    if(a[i]>=50):
        sum_a+=a[i]
    else:
        pass
print(sum_a)

481

In [4]:
a = [20,55,67,82,45,33,90,87,100,25]
sum_a=0
for i in range(0,len(a)):
    if(a[i]>=50):
        sum_a+=a[i]
    else:
        pass
print(sum_a)

481

In [6]:
a = [20,55,67,82,45,33,90,87,100,25]
i=0
sum_a=0
while(i<len(a)):
    if(a[i]>=50):
        sum_a+=a[i]
        i+=1
    else:
        i+=1
print(sum_a)

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

In [7]:
a = [20,55,67,82,45,33,90,87,100,25]
i=0
sum_a=0
while(i<len(a)):
    if(a[i]>=50):
        sum_a+=a[i]
        i+=1
    else:
        i+=1
print(sum_a)

481

* Q)1부터 100까지 3의 배수들의 합!!!!! while

In [8]:
sum_a=0
i=1
while(i<101):
    if(i%3==0):
        sum_a+=i
        i+=1
    else:
        i+=1
print(sum_a)

1683

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!!

In [9]:
from random import randint
s=0
b=0
o=0
a1=randint(0,9)
a2=randint(0,9)
a3=randint(0,9)
i1=int(input("첫번째 숫자 입력"))
i2=int(input("두번째 숫자 입력"))
i3=int(input("세번째 숫자 입력"))
print(a1,a2,a3)
if(i1==a1):
    s+=1
elif(i1==a2 or i1==a3):
    b+=1
else:
    o+=1
if(i2==a2):
    s+=1
elif(i2==a1 or i2==a3):
    b+=1
else:
    o+=1    
if(i3==a3):
    s+=1
elif(i3==a2 or i3==a1):
    b+=1
else:
    o+=1
if(s==3):
    print("game over")
else:
    print("S: ",s)
    print("B: ",b)
    print("O: ",o)

첫번째 숫자 입력2
두번째 숫자 입력4
세번째 숫자 입력6
8 4 5
S:  1
B:  0
O:  2

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [10]:
import random

# 게임을 위한 랜덤 숫자 생성
rn = random.randrange(1, 101, 1)
count=1
print("1~100 숫자 Up & Down 게임을 시작합니다 !!!")
print("---------------------------")
while(True):
    
    a=int(input("1 ~ 100 사이의 숫자를 입력하세요 :"))
    if(a==rn):
        print("---------------------------")
        print(count,"번 만에 정답을 맞추셨습니다.")
        break
    else:
        if(a>rn):
            print("down")
            count+=1
        else:
            print("up")
            count+=1

1~100 숫자 Up & Down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 :2
up
1 ~ 100 사이의 숫자를 입력하세요 :50
down
1 ~ 100 사이의 숫자를 입력하세요 :43
down
1 ~ 100 사이의 숫자를 입력하세요 :30
down
1 ~ 100 사이의 숫자를 입력하세요 :20
down
1 ~ 100 사이의 숫자를 입력하세요 :10
up
1 ~ 100 사이의 숫자를 입력하세요 :15
---------------------------
7 번 만에 정답을 맞추셨습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
합의 제곱 : 1^2 + 2^2 + ... + 10^2 = 385   
제곱의 합 : (1+2+3..+10)^2 = 3025

In [11]:
   sum_sq=0
sq_sum=0
result=0
a=int(input("입력해"))
for i in range(1,a+1):
    sum_sq+=i**2
    sq_sum+=i
sq_sum=sq_sum**2
result=sq_sum-sum_sq
print(result)

입력해10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [12]:
def encryfunc( x ) :
    a=[]
    print("'",end="")
    for i in range(0,len(x)-4):
        print("*",end="")
    for j in range(len(x)-4,len(x)):
        print(x[j],end="")
    print("'")
encryfunc("010-1234-5678")

'*********5678'

In [13]:
def encryfunc( x ) :
    a=[]
    print("'",end="")
    for i in range(0,len(x)-4):
        print("*",end="")
    for j in range(len(x)-4,len(x)):
        print(x[j],end="")
    print("'")
encryfunc("01034565678")

'*******5678'

* Q) 연습문제 : computepay라는 함수를 만들어서, 근무 시간과 초과근무 시 비율을 입력하고, 월급을 계산하는 함수를 만드세요!!(월 기준으로 8시간 * 5일 * 4주 =160시간이 기준, 160시간까지는 1시간당 월급이 1만원, 초과 근무 시 비율이 만약에 50%라면 1.5만원, 초과 근무 시 비율이 30%라면 1.3만원)     
예 : computpay(170, 50) --> 160 X 1 + 10 X 1 X 1.5 (원)

In [14]:
def computepay(x,y) :
    sum_a=0
    if(x<=160):
        sum_a=x*1
        return sum_a*10000
    else:
        sum_a+=160*1
        sum_a=sum_a+(x-160)*1*(1+y/100)
        return sum_a*10000
tom = computepay(200, 60)
print(tom)

2240000.0

In [5]:
tom = computepay(200, 60)
print(tom)

2240000.0