In [18]:
import numpy as np

In [20]:
arr1=np.arange(10)

In [22]:
len(arr1)   #array도 len로 길이 찾기 가능

10

In [198]:
names=np.array(["Bob","Joe","Will","Bob","Will","Joe","Joe"])
data= np.random.randint(low=30,high=101,size=(7,4))
print(names)
print(data)

['Bob' 'Joe' 'Will' 'Bob' 'Will' 'Joe' 'Joe']
[[98 54 45 80]
 [83 61 79 73]
 [80 40 82 71]
 [92 67 43 83]
 [59 82 62 69]
 [89 59 82 79]
 [96 92 67 54]]

In [100]:
names=="Bob"

array([ True, False, False,  True, False, False, False])

In [101]:
names[names=="Bob"]

array(['Bob', 'Bob'], dtype='<U4')

In [102]:
len(names[names=="Bob"])

2

In [117]:
a=data[names=="Bob",0:2]#국어 영어 점수만 보여주기
print(a)
b=data[names=="Bob"][0] #첫번째 Bob의 성적만 보여주기
print(b)

[[68 45]
 [56 52]]
[68 45 55 99]

In [145]:
data[(names=="Bob") | (names=="Will"), :2] #bob이거나 will인 사람의 국어 영어 점수 보여주기

array([[47, 77],
       [56, 93],
       [87, 47],
       [97, 45]])

In [159]:
np.logical_or((names=="Bob"),(names=="Will")) #numpy사용해서 or사용하기

array([ True, False,  True,  True,  True, False, False])

In [161]:
data

array([[ 47,  77,  97,  38],
       [ 83,  73,  85,  57],
       [ 56,  93,  59,  80],
       [ 87,  47,  56,  33],
       [ 97,  45,  70,  36],
       [ 80,  53, 100,  85],
       [ 58,  71,  81,  38]])

In [162]:
#네 과목이 모두 90점 안넘으면 과락

In [199]:
data[data<90]=0
data[data>=90]=1 
a=np.unique(np.where(data>0)[0]) # 통과한사람 위치 확인, 이름만 뽑아내고 unique로 중복값 제거, 
b=names[a]                       # names 행렬에서 통과한사람 찾기
b

array(['Bob', 'Bob', 'Joe'], dtype='<U4')

In [189]:
import time
data= np.random.randint(low=30,high=101,size=(10000,10000))
t1 = time.time()
np.where(data>90)
t2 = time.time()
print ("Time1 : " + str(t2-t1))

Time1 : 0.48868608474731445

In [190]:
import time
data= np.random.randint(low=30,high=101,size=(10000,10000))
t1 = time.time()
data[data<90]=0
data[data>=90]=1
np.where(data>0)
t2 = time.time()
print ("Time1 : " + str(t2-t1))

Time1 : 1.3017330169677734

In [200]:
import pandas as pd
import numpy as np

In [203]:
stock_price_list=[10000,10300,9900,10500,11000]
stock_price_Series=pd.Series([10000,10300,9900,10500,11000])
stock_price_Series

0    10000
1    10300
2     9900
3    10500
4    11000
dtype: int64

In [205]:
stock_price_Series[0:3]

0    10000
1    10300
2     9900
dtype: int64

In [304]:
#index 추가하가
stock_price_Series=pd.Series([10000,10300,9900,10500,11000],
                            index=["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-5"])

In [210]:
stock_price_Series["2020-03-01"]

10000

In [211]:
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object')

In [212]:
stock_price_Series.values

array([10000, 10300,  9900, 10500, 11000], dtype=int64)

In [231]:
for i in range(0,len(stock_price_Series)):
    print("Index: ",stock_price_Series.index[i])
    print("Value: ",stock_price_Series.values[i])

Index:  2020-03-01
Value:  10000
Index:  2020-03-02
Value:  10300
Index:  2020-03-03
Value:  9900
Index:  2020-03-04
Value:  10500
Index:  2020-03-5
Value:  11000

In [229]:
for i in stock_price_Series.index:
    print("Index: ",i)
    print("Value: ",stock_price_Series[i])

Index:  2020-03-01
Value:  10000
Index:  2020-03-02
Value:  10300
Index:  2020-03-03
Value:  9900
Index:  2020-03-04
Value:  10500
Index:  2020-03-5
Value:  11000

In [239]:
idx=[1,2,3]
[stock_price_list[i] for i in idx]

[10300, 9900, 10500]

In [246]:
stock_price_Series[stock_price_Series>=10000]

2020-03-01    10000
2020-03-02    10300
2020-03-04    10500
2020-03-5     11000
dtype: int64

In [248]:
"2020-03-01" in stock_price_Series #index 값이 있는지 없는 지 확인해서 boolean으로 출력

True

In [257]:
sdata={"APPL":1000,"MS":2000,"AMAZON":3000,"TESLA":5000,"UBER":100}
sdata

{'APPL': 1000, 'MS': 2000, 'AMAZON': 3000, 'TESLA': 5000, 'UBER': 100}

In [258]:
obj3=pd.Series(sdata)
obj3

APPL      1000
MS        2000
AMAZON    3000
TESLA     5000
UBER       100
dtype: int64

In [253]:
obj3["MS"]

2000

In [255]:
states=["GOOGLE","APPL","AMAZON"]
states

['GOOGLE', 'APPL', 'AMAZON']

In [259]:
obj4=pd.Series(sdata,states)
obj4

GOOGLE       NaN
APPL      1000.0
AMAZON    3000.0
dtype: float64

In [261]:
obj3+obj4 #index는 있는거 모두 나열
          #더하기 연산은 2개의 값이 모두 존재해야지 수행됨.,

AMAZON    6000.0
APPL      2000.0
GOOGLE       NaN
MS           NaN
TESLA        NaN
UBER         NaN
dtype: float64

In [266]:
# Missing data 찾기
a=pd.isnull(obj3+obj4)
a

AMAZON    False
APPL      False
GOOGLE     True
MS         True
TESLA      True
UBER       True
dtype: bool

In [268]:
obj4.isnull()

GOOGLE     True
APPL      False
AMAZON    False
dtype: bool

In [271]:
stock_price_Series.index.name="Stock Price Date"
stock_price_Series.index

Index(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-5'], dtype='object', name='Stock Price Date')

In [279]:
stock_price_Series.ndim

1

In [276]:
stock_price_Series.shape

(5,)

In [277]:
stock_price_Series.size

5

In [280]:
stock_price_Series[0]

10000

at. iat, loc, iloc 이용해서 검색

In [282]:
stock_price_Series.at["2020-03-01"] #.at : 내가 만든 인덱스로 접근

10000

In [285]:
stock_price_Series.iat[0] # .iat : 정수 인덱스로 접근

10000

In [287]:
stock_price_Series.iloc[0:3] # .iloc 여러개의 인덱스 사용해서 검색

Stock Price Date
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [295]:
stock_price_Series.loc[["2020-03-01","2020-03-03"]]

Stock Price Date
2020-03-01    10000
2020-03-03     9900
dtype: int64

In [297]:
stock_price_Series.loc["2020-03-01":"2020-03-03"] # 슬라이싱 쓰면 마지막 숫자까지 검색한다. list 슬라이싱하고 다르네

Stock Price Date
2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
dtype: int64

In [299]:
stock_price_Series.count() # pandas에서 사용하는 원소 갯수 새기

5

In [300]:
add_data=pd.Series([12345], index=["2020-03-02"])

In [301]:
stock_price_Series.append(add_data) #pandas의 append는 추가되는 것 같이만 보임. !인덱스 중복되어도 추가됨

2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
2020-03-02    12345
dtype: int64

In [302]:
stock_price_Series=stock_price_Series.append(add_data) #이렇게 해야지 추가됨
stock_price_Series.append

<bound method Series.append of 2020-03-01    10000
2020-03-02    10300
2020-03-03     9900
2020-03-04    10500
2020-03-5     11000
2020-03-02    12345
dtype: int64>

In [303]:
stock_price_Series.append(add_data, verify_integrity=True) #인덱스 중복되는 거 방지

ValueError: Indexes have overlapping values: Index(['2020-03-02'], dtype='object')

In [305]:
stock_price_Series.max()

11000

In [306]:
stock_price_Series.min()

9900

In [309]:
stock_price_Series.mean() #평균값

10340.0

In [310]:
stock_price_Series.var() # 분산

193000.0

In [311]:
stock_price_Series.std() #표준편차

439.31765272977594