# 기본 연습 문제

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 20명씩 조를 만들려고 한다. 이 때 생성되는 조의 수는 몇 개인가?

220.0

* Q) 4400명의 사람이 모였는데, 이들을 대상으로 30명씩 조를 만들려고 한다. 이 떄 생성되는 조의 수와 조에 편성이 안 되는 사람의 수는?

146.66666666666666
146
20

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오

72.5

* Q)  국어 80점, 수학 55점, 영어 75점, 사회 80점 --> 이 사람의 평균을 구하는 코드를 작성하시오   
(단, 이번에는 input을 활용하여 입력받는 점수를 바탕으로 평균을 구하세요!)

In [4]:
korean = input("한국어 점수를 입력해주세요!!!")
~~~

한국어 점수를 입력해주세요!!!1
수학 점수를 입력해주세요!!!!2
영어 점수 입력해주세요!!!!3
사회 점수 입력해주세요1!!4
4과목 평균 점수 : 2.5

* Q) 주어진 수가 홀수인지, 아니면 짝수인지 판별할 수 있는 방법을 제시하여라.

홀짝을 판단하고자 하는 수를 입력하세요!!!34
True

* Q) a = [1, 2, 3, 4,5]라는 리스트를 만들고, 여기에다가 append, insert를 활용하여 a= [1,2,"hello",4,5,"Hi","Monday"]를 만들어라

[1, 2, 'Hello', 3, 4, 5, 'Hi', 'Monday']

* Q) 10을 2로 나눈 몫하고 210을 3으로 나눈 몫하고 같은지 비교하시오!

False

* Q) 12345를 4로 나눈 나머지하고, 54321을 2로 나눈 나머지하고 비교하시오!!!

True

* a = [1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]] 에서 i를 접근해보세요. 정수 인덱스를 활용해서..

[1, 2, 3, ['aa', 'bb', 'cc', ['hello', 'hi', 'hahaha']]]
i

* Q) a = ["a","b","c","d","e","f","g","h","i","j","k",1,2,3,4,5]  
1) :를 사용하여 a의 모든 값을  출력하세요  
2) :를 사용하여 a의 처음부터 5번째 까지 값을 출력하세요.  
3) :를 사용하여 a의 4번째부터 끝까지 값을 출력하세요.  
4) :를 사용하여 a의 2번째부터 6번째까지 값을 출력하세요.  
5) :를 사용하여 a의 홀수번째 위치한 값들을 출력하세요.  
6) :를 사용하여 a의 1,4,7,10번째 위치한 값들을 출력하세요!!

* Q) a = {"A":90, "B":80,"C":70 } 이 중에서 "B"의 점수를 출력해보세요!

80

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점을 찾으세요!!!

10
85

Q) a = {"A":30, "B":50, "C":10,"D":43, "E":85, "F":76,"G":32} 이 중에서 최고점과 최저점이 누구인지 찾으세요!!!

최고점 :  E
최저점 :  C

*Q) 1부터 20까지 모든 수를 출력하는 프로그램을 만드세요(for/range)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* Q) "hello_1", "hello_2", ..., "hello_20"까지 출력하는 프로그램을 만드세요(for 사용)

hello_1
hello_2
hello_3
hello_4
hello_5
hello_6
hello_7
hello_8
hello_9
hello_10
hello_11
hello_12
hello_13
hello_14
hello_15
hello_16
hello_17
hello_18
hello_19
hello_20

* Q) a = ["one","two","three","four"] 과 for문을 이용하여
b = ['one1', 'two2', 'three3', 'four4']을 만드세요.  
1) for& range 방법   
2) for & a 바로 방법   
2가지 방식으로 하세요!!!

['one1', 'two2', 'three3', 'four4']

['one1', 'two2', 'three3', 'four4']

* Q) 1번/2번 학생의 시험 점수를 리스트로 만들고, 이에 대한 평균을 구하시오.  
예: a = [10,20,30,40], b=[50,20,10,13]에 대해서, 각기 평균을 구하시오!   
단, 시험 점수가 변동이 생길 수 있고, 시험 과목도 변동이 생길 수 있으니 a/b 중심으로 코드를 구현하세요!

46.0
46.0

* Q)  a = ["Life", "is","too", "short", "you","need","python"] a 리스트를 화룡해서 yoo too 출력해보기!!!

you too

* Q) ["Life", "is", "too","short"]라는 리스트를 활용해서 Life is too short 이라는 문장 만들기!!!

['Life', 'is', 'too', 'short']
Life is too short

Life is too short

In [21]:
# 참고) join은 전체에 대한 것!
a = ["Life", "is", "too","short","1","2","3","4","5"]
result = " ".join(a)
print(result)

Life is too short 1 2 3 4 5

* Q)  a = [1,2,3,4,5,6] 이 리스트의 원소의 갯수는?

6

* Q) a [ 1,2,3,4,5]라는 리스트를 [1,3,5]로 만들기!!!(remove사용)

[1, 3, 5]

* Q) a = 10 양수, 음수, 0인지 판단을 하고 싶다!! --> 완성 후에는 input을 활용하여 하는 것으로 추가 구현

In [24]:
a = int(input("0,양수,음수 판단할 수를 입력해 주세요!!!!!"))
~~~

0,양수,음수 판단할 수를 입력해 주세요!!!!!-2
a는 음수다!!!!

* Q1) 입력받은 양의 정수(자연수) 홀수/짝수인지 판단을 하고, 그 결과를 출력해주세요!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
입력하신 수는 홀수입니다!!!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
입력하신 수는 홀수입니다!!!!

홀짝을 판단하고자 하는 수를 입력하세요!!!-3
이상해요1!!!!

* Q) * Q2) A라는 사람이 5000원의 돈을 가지고 있고, 카드는 없다.  
A의 상태는   
money = 5000  
card = False  
이 사람이 목적지까지 택시를 타고 가려고 한다.
목적지까지 가기 위해서는 카드를 소유하고 있거나, 4000원 이상의 현금을 가지고 있어야 한다.
A 는 이 목적지까지 갈 수 있는지 판단해보세요!!!

갈 수 있다!!!!

* Q) 입력을 받은 자연수에 대해서 몇 자리 수인지 판단하세요!!!(최대 9999까지)

세자리 修

* Q) a = 10, b = 20을 가지고, a=20, b=10이라고 서로 수를 바꾸는 프로그램을 작성하시오!!!

처음 입력20
두번째 입력30
변화된 a값: 30
변화된 b값: 20

* Q) kg에 대한 값을 g으로 변환하는 프로그램을 작성하시오(예:1.2kg => 1200g)

입력하세요[kg]!!!1.2
1200.0

* Q) g에 대한 값을 kg으로 변환하는 프로그램을 작성하시오!(예:1200g ==> 1.2kg)

입력하세요[g]!!!1234
1.234

* Q)  3개의 수에 대해서, 가장 큰 수를 찾는 프로그램을 작성하시오!!!
(예를 들면, 10, 20, 17이라는 3개의 수가 있다고 하면, 이 중에서 제일 큰 수 20을 찾는 프로그램)

20

* Q) 1부터 100까지 합!!!!

5050

* Q) 1부터 100까지 곱!!

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

* Q) 시험 성적 점수 [90, 80,35,24,65,74,93]  
시험 통과가 60점 이상이라고 할 때,
몇 번째 학생이 통과했는지 알려주세요!!!!!

1
2
5
6
7

* Q) ["A","B","A","O","AB","AB","O","A","B","AB"] 이러한 혈핵형을 가지고 있을 때, for문을 이용해서 각 혈핵형별로 몇 명인지 총 인원을 구하세요!!!!

* Q) [1,2,3,4,5,6,7,8,9,10,11,12] 중에서 홀수만 골라서  
3을 곱하는 결과를 나타내시오!!!!

3
9
15
21
27
33

* Q) 구구단 2단, 3단, ..., 19단까지 결과를 출력하세요!!!

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
16 X 1 = 16
16 X 2 = 32
16 X 3 = 48
16 X 4 = 64
16 X 5 = 80
16 X 6 = 96
16 X 7 = 112
16 X 8 = 128
16 X 9 = 144
17 X 1 = 17
17 X 2 = 34
17 X 3 = 51
17 X 4 = 68
17 X 5 = 85
17 X 6 = 102
17 X 7 = 119
17 X 8 = 136
17 X 9 = 153
18 X 1 = 18
18 X 2 = 36
18 X 3 = 54
18 X 4 = 72
18 X 5 = 90
18 X 6 = 108
18 X 7 = 126
18 X 8 = 144
18 X 9 = 162
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171

* Q) 100 까지 소수를 모두 찾아보세요!!!!

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

* Q) 두 수 54, 24의 최대공약수, 공약수를 구해보세요!!!

*Q) @@@@@ 을 출력하세요!!!

In [50]:
print("@"+"@"+"@"+"@"+"@")

@@@@@

In [51]:
print("@"*5)

@@@@@

In [52]:
for i in range(5):
    print("*",end="")

*****

In [53]:
for i in range(5):
    print("@", end="")

@@@@@

In [54]:
num = int(input("반복할 수를 입력하세요!!!!"))

for i in range(num):
    print("@", end="")

반복할 수를 입력하세요!!!!7
@@@@@@@

* Q)   
@@@@@  
@@@@@  
@@@@@  
@@@@@

@@@@@
@@@@@
@@@@@
@@@@@
@@@@@

@
@@
@@@
@@@@
@@@@@

* Q) 위의 그림을 만드세요

@
@@
@@@
@@@@
@@@@@

@@@@@
 @@@@
  @@@
   @@
    @

* Q) 위의 그림을 만드세요!!!

In [ ]:
1줄 : 5개 찍기
2줄 : 4개 찍기
3줄 : 3개 찍기
4줄 : 2개 찍기
5중 : 1개 찍기

In [ ]:
힌트   

@@@@*
@@@**
@@***
@****
*****

@@@@@
 @@@@
  @@@
   @@
    @

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

* Q) 위의 그림을 만드세요!

    @
   @@@
  @@@@@
 @@@@@@@
@@@@@@@@@

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

* Q) 위의 그림을 만드세요

@@@@@@@@@
 @@@@@@@
  @@@@@
   @@@
    @

1
22
333
4444
55555
666666
7777777
88888888
999999999

* 위와 같은 결과를 만드세요

1
22
333
4444
55555
666666
7777777
88888888
999999999

* Q) * Q) 1부터 50까지에서 3의 배수에는 three, 5의 배수에는 five, 3과 5의 공배수에는 three-five를 출력하세요   
1  
2  
three  
4  
five  
...
14  
three-five
16
...

* Q) 입력 : 월/일 의 2개의 정보를 받아서, 어느 계절인지 나타내어라!!
(예 : 3월 12일 --> 봄, 12월 24일 --> 겨울)
(단, 봄:3~5, 여름:6~8, 가을 9~11, 겨울 12~2)

* Q) 학생의 점수을 입력을 받아서, 그 점수에 해당하는 학점을 출력을 하고, 그 학점이 A는 "참 잘했습니다", B는 "잘 했습니다.", C는 "좀 더 노력하세요", D는 "재수강을 권장합니다", F는 "꼭 다시 들으세요!!!"로 판별해주기.  
단, F: 40점 미만, D:40점 이상~60점 미만, C : 60이상~80점 미만, B:80이상~90점 미만, A:90점 이상 이상

* 한 점을 구성하는 (x,y)의 좌표를 입력받고, 이 점이 (50,40), (50,80), (100,40), (100,80)을 꼭지점으로 하는 사각형 안에 있는지 판단하세요!!!

x의 값을 입력하세요10
y의 값을 입력하세요22
밖에 있습니다.

* Q) 입력한 수의 각 자리수를 더하는 프로그램을 작성하시오.  
예 : 12345--> 1+2+3+4+5=15

입력하세요!!!2345
14

* Q) a,b,c가 자연수 일때, a + b + c = 100을 만족하는 중복되지 않는 세 자연수의 개수를 구하는 프로그램을 작성하시오. 예를 들어서(30,40,30)은 (40,30,30)과 같은 경우라고 한다!!!!

In [1]:
count1=0
count2=0
for i in range(1,99):
    for j in range(1,99):
        for k in range(1,99):
            if((i+j+k)==100):
                if(i==j or j==k or i==k):
                    count1+=1
                else:
                    count2+=1
print((count1/3)+(count2/6))

833.0

In [4]:
count1=0;
count2=0
for i in range(1,99):
    for j in range(1,99):
        for k in range(1,99):
            if((i+j+k)==100):
                if(i==j or j==k or i==k):
                    count

833

* Q) 1부터 100까지의 나열 할 때 1~9까지 숫자는 각각 몇 번 나타나는지를 세어 보세요!!!

In [14]:
a=[0,0,0,0,0,0,0,0,0,0]

for i in range(1,101):
    b=str(i)
    for j in b:
        if(j=="0"):
            a[0]+=1
        elif(j=="1"):
            a[1]+=1
        elif(j=="2"):
            a[2]+=1
        elif(j=="3"):
            a[3]+=1
        elif(j=="4"):
            a[4]+=1
        elif(j=="5"):
            a[5]+=1
        elif(j=="6"):
            a[6]+=1
        elif(j=="7"):
            a[7]+=1
        elif(j=="8"):
            a[8]+=1
        else:
            a[9]+=1
for k in range(0,10):
    print(k,": ",a[k])

0 :  11
1 :  21
2 :  20
3 :  20
4 :  20
5 :  20
6 :  20
7 :  20
8 :  20
9 :  20

In [21]:
for i in range(1,101cv):
    print(i)

0 : 11
1 : 21
2 : 20
3 : 20
4 : 20
5 : 20
6 : 20
7 : 20
8 : 20
9 : 20

* Q) a = [20,55,67,82,45,33,90,87,100,25]점수일 때, 50점 이상인 점수들의 합!!!!!   
방법 1 : for/ range사용,  
방법 2 : for/ 직접 값 사용,  
방법 3 : while사용

In [2]:
a = [20,55,67,82,45,33,90,87,100,25]
sum_a=0
for i in range(0,len(a)):
    if(a[i]>=50):
        sum_a+=a[i]
    else:
        pass
print(sum_a)

481

In [3]:
a = [20,55,67,82,45,33,90,87,100,25]
sum_a=0
for i in a:
    if(i>=50):
        sum_a+=i
    else:
        pass
print(sum_a)

481

In [8]:
a = [20,55,67,82,45,33,90,87,100,25]
i=0
sum_a=0
while(i<len(a)):
    if(a[i]>=50):
        sum_a+=a[i]
        i+=1
    else:
        i+=1
print(sum_a)

481

* Q) 1부터 100까지 3의 배수들의 합!!!!! for

In [2]:
sum_a=0
for i in range(1,101):
    if(i%3==0):
        sum_a+=i
    else:
        pass
print(sum_a)

1683

* Q)1부터 100까지 3의 배수들의 합!!!!! while

In [1]:
sum_a=0
i=1
while(i<101):
    if(i%3==0):
        sum_a+=i
        i+=1
    else:
        i+=1
print(sum_a)

1683

* 야구 게임 : 1S 1B 1O에 대한 것을 만들어 보시오. 다만 처음에 하기 위해서는 random으로 시작을 해야함!!!

In [4]:
from random import randint
s=0
b=0
o=0
a1=randint(0,9)
a2=randint(0,9)
a3=randint(0,9)
i1=int(input("첫번째 숫자 입력"))
i2=int(input("두번째 숫자 입력"))
i3=int(input("세번째 숫자 입력"))
print(a1,a2,a3)
if(i1==a1):
    s+=1
elif(i1==a2 or i1==a3):
    b+=1
else:
    o+=1
if(i2==a2):
    s+=1
elif(i2==a1 or i2==a3):
    b+=1
else:
    o+=1    
if(i3==a3):
    s+=1
elif(i3==a2 or i3==a1):
    b+=1
else:
    o+=1
if(s==3):
    print("game over")
else:
    print("S: ",s)
    print("B: ",b)
    print("O: ",o)

첫번째 숫자 입력1
두번째 숫자 입력2
세번째 숫자 입력3
7 1 2
S:  0
B:  2
O:  1

* Q)숫자 up/down으로 1~100까지 수 중에서 알아 맞추기!!! random이용!!!

In [2]:
import random

# 게임을 위한 랜덤 숫자 생성
rn = random.randrange(1, 101, 1)
count=1
print("1~100 숫자 Up & Down 게임을 시작합니다 !!!")
print("---------------------------")
while(True):
    
    a=int(input("1 ~ 100 사이의 숫자를 입력하세요 :"))
    if(a==rn):
        print("---------------------------")
        print(count,"번 만에 정답을 맞추셨습니다.")
        break
    else:
        if(a>rn):
            print("down")
            count+=1
        else:
            print("up")
            count+=1

1~100 숫자 Up & Down 게임을 시작합니다 !!!
---------------------------
1 ~ 100 사이의 숫자를 입력하세요 :50
down
1 ~ 100 사이의 숫자를 입력하세요 :40
up
1 ~ 100 사이의 숫자를 입력하세요 :45
down
1 ~ 100 사이의 숫자를 입력하세요 :43
---------------------------
4 번 만에 정답을 맞추셨습니다.

* Q) 1부터 입력받은 수까지 "합의 제곱"의 결과와 "제곱의 합"과의 차이를 구하시오!!!    
합의 제곱 : 1^2 + 2^2 + ... + 10^2 = 385   
제곱의 합 : (1+2+3..+10)^2 = 3025

In [5]:
sum_sq=0
sq_sum=0
result=0
a=int(input("입력해"))
for i in range(1,a+1):
    sum_sq+=i**2
    sq_sum+=i
sq_sum=sq_sum**2
result=sq_sum-sum_sq
print(result)

입력해10
2640

* Q)  핸드폰 번호 뒤에 4자리만 남기고, 앞의 7자리에 대한 것을 *로 지워보세요!!! (함수 만들어서!!!)

In [19]:
def encryfunc( x ) :
    a=[]
    print("'",end="")
    for i in range(0,len(x)-4):
        print("*",end="")
    for j in range(len(x)-4,len(x)):
        print(x[j],end="")
    print("'")
encryfunc("010-1234-5678")

'*********5678'

In [18]:
def encryfunc( x ) :
    a=[]
    print("'",end="")
    for i in range(0,len(x)-4):
        print("*",end="")
    for j in range(len(x)-4,len(x)):
        print(x[j],end="")
    print("'")
encryfunc("01034565678")

'*******5678'

* Q) 연습문제 : computepay라는 함수를 만들어서, 근무 시간과 초과근무 시 비율을 입력하고, 월급을 계산하는 함수를 만드세요!!(월 기준으로 8시간 * 5일 * 4주 =160시간이 기준, 160시간까지는 1시간당 월급이 1만원, 초과 근무 시 비율이 만약에 50%라면 1.5만원, 초과 근무 시 비율이 30%라면 1.3만원)     
예 : computpay(170, 50) --> 160 X 1 + 10 X 1 X 1.5 (원)

In [27]:
def computepay(x,y) :
    sum_a=0
    if(x<=160):
        sum_a=x*1
        return sum_a*10000
    else:
        sum_a+=160*1
        sum_a=sum_a+(x-160)*1*(1+y/100)
        return sum_a*10000
tom = computepay(200, 60)
print(tom)

2240000.0